<?xml version="1.0"?>
<launch>	
    
    <param name ="/use_sim_time"                    value="true"/>

    
    <node pkg="tf" type="static_transform_publisher" name="gps_base_link" args="0.0 -0.14 0.30 0 0 0 base_link gps 50"/>

    
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 0.3 /home/riccardo/Desktop/2019-04-01-18-45-15.bag"/>
    
    
    <node pkg="rostopic" type="rostopic" name="echo_rosout" output="screen" args="echo /rosout"/>
    
    
</launch>
