<?xml version="1.0"?>
<!-- robot_localization -->	
<launch>

        <arg name="two_d_mode"                          default="false" />
        <arg name="navsat_odom_topic"                   default="/rtabmap/odom_vis" />
        <arg name="gps_odom_topic"                      default="/odom_vis_gps" />
        <arg name="gps_accel_topic"                     default="/accel_vis_gps" />
  
      
        <!-- GPS integration with navsat transform node -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" required="true">
            
        <param name="magnetic_declination_radians" value="0.04828744"/> <!-- magnetic declination at Airlab, Via Ponzio, Milan. 45°28'42" N 9°13'48" E -->
        
        <param name="yaw_offset" value="0"/> <!-- the nucleo IMU is correctly using the ENU coordinate frame, so giving a yaw=0 when facing east (X facing east) --> 
        
        <!-- <remap from="/imu/data" to="/your/imu/topic" /> -->
        <remap from="/gps/fix" to="/fix" /> 
        <remap from="/odometry/filtered" to="$(arg gps_odom_topic)" /> 
    </node>
      
      
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom_gps" clear_params="true" required="true">
        <rosparam command="load" file="$(find plant-phenotyper)/src/robot_localization/ekf_template_rtabmap.yaml" />
    
        
        <remap from="odometry/filtered" to="$(arg gps_odom_topic)"/>
        <remap from="accel/filtered" to="$(arg gps_accel_topic)"/>
        
        
        <param name="frequency" value="30"/>
        <param name="map_frame" type="string" value="map" />
        <param name="world_frame" type="string" value="map" />
        <param name="two_d_mode" type="bool" value="$(arg two_d_mode)" />  
        <param name="debug" type="bool" value="false" />
        
        
        <param name="odom0" value="/odometry/gps"/>
        <rosparam param="odom0_config">[true,true,false,
                                        false,false,false,
                                        false,false,false,
                                        false,false,false,
                                        false,false,false]</rosparam>
        <param name="odom0_differential" value="false"/>
        <param name="odom0_relative" value="false"/>
        
        
        <param name="odom1" value="$(arg navsat_odom_topic)"/>		
        <rosparam param="odom1_config">[true,true,true,
                                        true,true,true,
                                        true,true,true,
                                        true,true,true,
                                        true,true,true]</rosparam>
        <param name="odom1_differential" value="true"/>
        <param name="odom1_relative" value="false"/>
    </node>	
</launch>
