<?xml version="1.0"?>
<launch>	
			
	<include file="$(find rtabmap_ros)/launch/gps_robot_localization.launch" />
    
    <include file="$(find rtabmap_ros)/launch/common_parameters.launch" />
    <!-- PARAMETERS OVERRIDE -->
    <!-- <param name="/rtabmap/rtabmap/Reg/Force3DoF"       type="string"   value="false"/> -->

    
</launch>
