<?xml version="1.0"?>
<launch>
  
    <include file="$(find plant-phenotyper)/src/camera/common_camera_parameters.launch">
        <arg name="serial_no"                 value="733512070600"/>    <!-- d435 -->
        <arg name="camera"                    value="d435"/>
        
    
        <arg name="color_width"               value="1280"/> <!-- Possible values: 424x240 640x360 640x480(default) 848x480 960x540 1280x720 1920x1080 -->
        <arg name="color_height"              value="720"/> 
                
    </include>
  
    <!--     TF    -->
    <node pkg="tf" type="static_transform_publisher" name="d435_link_broadcaster" args="-0.16 -0.346 0.282 1.5708 -3.1416 1.5708 base_link d435_link 33.3" />	

</launch>
