<?xml version="1.0"?>
<launch>
  <node type="laser_scan_assembler" pkg="laser_assembler" name="lms100_scan_assembler">
    <!-- <remap from="scan" to="tilt_scan"/> -->
    <param name="max_scans" type="int" value="4000" />
    <param name="fixed_frame" type="string" value="map" />
  </node>
</launch>
